:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: auto;
}

.header {
    background: var(--color-white);
    box-shadow: 0 3px 6px #00000029;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__name {
    font-family: 'Raleway', sans-serif;
    color: var(--color-primary);
    font-weight: 300;
    font-size: 32px;
    padding: 16px 136px;
    margin-top: 1px;
}

.header__menu {
    padding: 27px 136px;
    margin-top: 1px;
}

.header__menu .header__link {
    text-decoration: none;
    color: var(--color-grey);
    padding: 27px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;
    position: relative;

}

.header__link:hover {
    color: var(--color-black);
}
.header__link:hover::before {
    content: "";
    background-color: var(--color-primary);
    width: 80%;
    height: 3px;
    top: 100%;
    left: 12%;
    position: absolute;
}

.sell .container{
    background-image: url("../Images/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
}

.sell__headline {
    font-family: "Raleway", sans-serif;
    font-size: 49px;
}

.sell__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 45px;
}

.sell__link {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
    padding: 22px 130px;
    border-radius: 44px;
    background-color: var(--color-primary);
}

.statistics .container {
    text-align: center;
}

.statistics__headline {
    margin-top: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
}

.statistics__boxes {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.statistics__box {
    margin: 0 40px;
    font-family: "Raleway", sans-serif;
    max-width: 100px;
}

.statistics__images {
    height: 5em;
}

.statistics__image {
    margin-left: 20px;
    position: relative;
    margin-bottom: 10px;
    z-index: 2;
}

.statistics__image-2 {
    margin-top:  10px;
}

.statistics__images::before {
    content: "";
    position: absolute;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    background-color: var(--color-redish);
    z-index: 1;
}

.statistics__images-2::before {
    background-color: var(--color-primary);
}

.statistics__images-3::before {
    background-color: var(--color-green);
}

.statistics__numbers {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

.statistics__description {
    color: var(--color-grey);
    font-size: 17px;
    margin-bottom: 100px;
}

.benefits {
    background-color: var(--color-light-grey);
   padding-top: 100px;
}


.benefits__box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 1100px;
    padding: 20px;
}

.benefits__box-3 {
    display: flex;
    justify-content: space-between;
}

.benefits__box-description {
    background-color: var(--color-white);
    max-width: 40em;
    padding: 70px;
    position: relative;
}

.benefits__box-description::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 4px;
    background-color: var(--color-redish);
    bottom: 10%;
    left: 15%;
}

.benefits__box-description-2::before {
    background-color: var(--color-primary);
}

.benefits__box-description-3::before {
    background-color: var(--color-green);
}


.benefits__box-images {
    max-width: 30em;
    background-color: var(--color-white);
    position: relative;
}

.benefits__box-images-3 {
    background-color: var(--color-green);
    max-width: 30em;
}

.benefits__box-description-3 {
    max-width: 35em;
}

.benefits__box-image {
    position: relative;
    max-height: 80%;
    max-width: 80%;
}

.benefits__box-image-1 {
    top: 30%;
}

.benefits__box-images-1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 25px;
    background-color: var(--color-redish);
    top: 20%;
    left: 50%;
    rotate: 45deg;
}

.benefits__box-images-2::before {
    content: "";
    position: absolute;
    width: 265px;
    height: 265px;
    border-radius: 50%;
    background-color: var(--color-primary);
    top: 10%;
    left: 15%;
    rotate: 45deg;
}

.benefits__box-image-2 {
    margin-top: 60px;
    margin-left: 60px;
}

.benefits__box-image-3 {
    position: relative;
    top: 25%;
    left: 10%;



}

.benefits__box-headline {
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    margin: 20px;
    max-width: 8em;
}

.benefits__box-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 20px;
}

.pricing__headline {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    margin-bottom: 33px;
}

.pricing__content {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 20px;
    margin-bottom: 50px;
}

.pricing__boxes {
    display: flex;
    justify-content: space-between;
    width: 80%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.pricing__box {
    border: 1px solid var(--color-redish);
    border-radius: 10px;
    padding: 20px 60px;
    position: relative;
}
.pricing__box-2 {
    border-color: var(--color-primary);
    scale: 120%;
}

.pricing__box-3 {
    border-color: var(--color-green);
}

.pricing__box__headline {
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pricing__box__price {
    font-size: 46px;
    color: var(--color-redish);
    margin-bottom: 15px;
}

.pricing__box__price-2 {
    color: var(--color-primary);
}

.pricing__box__price-3 {
    color: var(--color-green);
}

.pricing__box__limit {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 12px;
    height: 20px;
    margin-bottom: 20px;
}

.pricing__list li {
    margin-bottom: 10px;
}

.pricing__list__element {
    font-size: 14px;
    position: relative;
}

.pricing__list-1 .pricing__list__element-1::before, .pricing__list-1 .pricing__list__element-2::before, .pricing__list-1 .pricing__list__element-3::before{
    content: "";
    background-image: url("../Images/Ckechmark-1.svg");
    background-size: cover;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: -14px;
    top: 2px;
}

.pricing__list-1 .pricing__list__element-4::before, .pricing__list-1 .pricing__list__element-5::before{
    content: "";
    background-image: url("../Images/Close.svg");
    background-size: cover;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: -14px;
    top: 2px;
}

.pricing__list-2 .pricing__list__element-1::before, .pricing__list-2 .pricing__list__element-2::before, .pricing__list-2 .pricing__list__element-3::before, .pricing__list-2 .pricing__list__element-4::before{
    content: "";
    background-image: url("../Images/Ckechmark-1.svg");
    background-size: cover;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: -14px;
    top: 2px;
}

.pricing__list-2 .pricing__list__element-5::before{
    content: "";
    background-image: url("../Images/Close.svg");
    background-size: cover;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: -14px;
    top: 2px;
}

.pricing__list-3 .pricing__list__element-1::before, .pricing__list-3 .pricing__list__element-2::before, .pricing__list-3 .pricing__list__element-3::before, .pricing__list-3 .pricing__list__element-4::before, .pricing__list-3 .pricing__list__element-5::before{
    content: "";
    background-image: url("../Images/Ckechmark-1.svg");
    background-size: cover;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: -14px;
    top: 2px;
}

.pricing__box__link {
    position: absolute;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--color-redish);
    color: var(--color-white);
    top:100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pricing__box__link-2 {
    background-color: var(--color-primary);
}

.pricing__box__link-3 {
    background-color: var(--color-green);
}