@use "../Settings/variables.scss";

.pricing__headline {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  margin-bottom: 33px;
}

.pricing__content {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding: 20px;
  margin-bottom: 50px;
}

.pricing__boxes {
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.pricing__box {
  border: 1px solid variables.$color-redish;
  border-radius: 10px;
  padding: 20px 60px;
  position: relative;
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }
}
.pricing__box-2 {
  border-color: variables.$color-primary;
  scale: 120%;
}

.pricing__box-3 {
  border-color: variables.$color-green;
}

.pricing__box__headline {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
}

.pricing__box__price {
  font-size: 46px;
  color: variables.$color-redish;
  margin-bottom: 15px;
}

.pricing__box__price-2 {
  color: variables.$color-primary;
}

.pricing__box__price-3 {
  color: variables.$color-green;
}

.pricing__box__limit {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 12px;
  height: 20px;
  margin-bottom: 20px;
}

.pricing__list li {
  margin-bottom: 10px;
}

.pricing__list__element {
  font-size: 14px;
  position: relative;
}

.pricing__list-1 .pricing__list__element-1::before, .pricing__list-1 .pricing__list__element-2::before, .pricing__list-1 .pricing__list__element-3::before{
  content: "";
  background-image: url("./Images/Ckechmark-1.svg");
  background-size: cover;
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: -14px;
  top: 2px;
}

.pricing__list-1 .pricing__list__element-4::before, .pricing__list-1 .pricing__list__element-5::before{
  content: "";
  background-image: url("./Images/Close.svg");
  background-size: cover;
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: -14px;
  top: 2px;
}

.pricing__list-2 .pricing__list__element-1::before, .pricing__list-2 .pricing__list__element-2::before, .pricing__list-2 .pricing__list__element-3::before, .pricing__list-2 .pricing__list__element-4::before{
  content: "";
  background-image: url("./Images/Ckechmark-1.svg");
  background-size: cover;
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: -14px;
  top: 2px;
}

.pricing__list-2 .pricing__list__element-5::before{
  content: "";
  background-image: url("./Images/Close.svg");
  background-size: cover;
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: -14px;
  top: 2px;
}

.pricing__list-3 .pricing__list__element-1::before, .pricing__list-3 .pricing__list__element-2::before, .pricing__list-3 .pricing__list__element-3::before, .pricing__list-3 .pricing__list__element-4::before, .pricing__list-3 .pricing__list__element-5::before{
  content: "";
  background-image: url("./Images/Ckechmark-1.svg");
  background-size: cover;
  position: absolute;
  height: 10px;
  width: 10px;
  margin-left: -14px;
  top: 2px;
}

.pricing__box__link {
  position: absolute;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: variables.$color-redish;
  color: variables.$color-white;
  top:100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pricing__box__link-2 {
  background-color: variables.$color-primary;
}

.pricing__box__link-3 {
  background-color: variables.$color-green;
}